<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/org.css" rel="stylesheet" type="text/css">
    <script></script>
    <title>Create an Organization</title>
</head>
<script>
    function expandSection(goalID) {
        console.log("test", goalID)
    }
</script>

<body>
    <h1>
        <%= selectedOrg %> <br>
            <%= userAccount.first %>'s Relationships
    </h1>
    <!-- lets you select an org, you can then see your relationships and create them if you're the admin -->
            <form action="/org-page" method="POST" id="orgChoice">
                <select name="orgChoice" id="orgChoice">
                    <% userAccount.orgList.forEach(org=> { %>
                        <option value="<%= org.name %>">
                            <%= org.name %>
                        </option>
                        <% }); %>
                </select>
                <button type="submit">
                    Select Org
                </button>
            </form>

    <!-- <ul>
        <% userAccount.relationshipList.forEach(rel=> { %>
            <% if (rel.orgID==orgId) { %>
                <li>
                    Mentor: <%= rel.mentor %> | Mentee: <%= rel.mentee %>
                </li>
                <% } %>
                    <% }); %>
    </ul> -->

    <form action="/display-goals" method="POST" id="displayGoals">
        <select name="relId" id="relId">
            <% userAccount.relationshipList.forEach(rel=> { %>
            <% if (rel.orgID==orgId) { %>
                <option value="<%= rel.relationshipID %>">
                    Mentor: <%= rel.mentor %> | Mentee: <%= rel.mentee %>
                </option>
                <% } %>
                    <% }); %>    
        </select>
            <button type="submit">Select Relationship</button>

    </form>
    <ul>
        <% userAccount.relationshipList.forEach(rel=> { %>
            <% if (rel.relationshipID==relationshipID) { %>
                <div>
                    <% rel.goalList.forEach(goal=> { %>
                        <form action="/expand-goal" method="POST">
                            <button type="submit"class="expand">
                                <%= goal.goalInfo %>
                            </button>
                            <input type="hidden" name="goalID" value="<%= goal.goalID %>">
                        </form>
                        <% if(goal.expanded==1){ %>
                            <div class="expandedGoal">
                            <ul>
                                <% goal.stepList.forEach(step=> { %>
                                    <p>Step: <%= step.stepText %> | <%= step.completedText %>
                                    </p>
                                    <form action="/mark-step-complete" method="POST">
                                        <input type="hidden" name="tempStepID" value="<%= step.stepID %>">
                                        <input type="hidden" name="completedValue" value="<%= step.completed %>">
                                        <input type="hidden" name="goalID" value="<%= goal.goalID %>">
                                        <% if (step.completed==0) { %>
                                            <button type="submit" onclick="test()">Complete Step</button>
                                            <% } else { %>
                                                <button type="submit">Mark as Incomplete</button>
                                                <% } %>
                                    </form>
                                    <% }) %>
                                        <form action="/create-step" method="POST">
                                            <li><input type="text" id="newStepId" name="newStep"></li>
                                            <input type="hidden" name="goalID" value="<%= goal.goalID %>">

                                            <button type="submit">Add Goal Step</button>
                                        </form>
                            </ul>
                            <ul >
                                <% goal.commentList.forEach(comment=> { %>
                                    <p>
                                        <%= comment.author %> - <%= comment.commentText %> (<%=comment.commentDateString
                                                    %>)
                                    </p>
                                    <% }) %>
                                        <form action="/create-comment" method="POST">
                                            <li><input type="text" id="newCommentId" name="newComment"></li>
                                            <input type="hidden" name="goalID" value="<%= goal.goalID %>">

                                            <button type="submit">Add Comment</button>
                                        </form>
                            </ul>
                            </div>
                            <% if (goal.stepsComplete==1) { %>

                                <form action="/mark-goal-complete" method="POST">
                                    <input type="hidden" name="goalID" value="<%= goal.goalID %>">
                                    <input type="hidden" name="completedValue" value="<%= goal.completed %>">
                                    <% if (goal.completed==0) { %>
                                        <button type="submit">Mark Goal Complete</button>
                                        <% } else { %>
                                            <button type="submit">Mark Goal Incomplete</button>
                                            <% } %>
                                </form>

                                <% } %>
                                    <% } %>

                                        <% }) %>

                                            <form action="/create-goal" method="POST" id="createGoal">
                                                <label for="goalInfo">Goal Description: </label>
                                                <input type="text" name="goalInfo" id="goalInfo">
                                                <br>

                                                <label for="dueDate">Due Date: </label>
                                                <input type="date" name="dueDate" id="dueDate">
                                                <br>

                                                <label for="step1">Step 1: </label>
                                                <input type="text" name="step1" id="step1">

                                                <button type="submit">Create Goal</button>
                                            </form>

                                            <% } %>
                                                <% }); %>
                </div>

    </ul>

    <% if (userAccount.username==adminUsername) { %>
        <form action="/create-relationship" method="POST" id="createRelationship">
            <select name="mentor" id="mentor">
                <% userAccount.orgList.forEach(org=> { %>
                    <% if (org.orgID==orgId) { %>
                        <% org.userList.forEach(user=> { %>
                            <option value="<%= user %>">
                                <%= user %>
                            </option>
                            <% }) %>

                                <% } %>
                                    <% }) %>
            </select>

            <select name="mentee" id="mentee">
                <% userAccount.orgList.forEach(org=> { %>
                    <% if (org.orgID==orgId) { %>
                        <% org.userList.forEach(user=> { %>
                            <option value="<%= user %>">
                                <%= user %>
                            </option>
                            <% }) %>

                                <% } %>
                                    <% }) %>
            </select>

            <button type="submit">Create Relationship</button>
        </form>
        <% } %>

            

</body>

</html>