<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/org.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>
    <title>Create an Organization</title>
</head>


<body>
    <form action="/logout" method="POST" id="logoutButton">
        <button type="submit">Log Out</button>
    </form>
    
    <form action="/org-page" method="POST">
        <div id="orgChoice">
            
            <select name="orgChoice">
                <% userAccount.orgList.forEach(org=> { %>
                    <% if (org.orgID==orgId) { %>
                        <option value="<%= org.name %>" selected>
                            <%= org.name %>
                        </option>
                    <% } else { %>
                        <option value="<%= org.name %>">
                            <%= org.name %>
                        </option>
                        <% } %>
                            <% }); %>
            </select>
            <button type="submit">
                Select Org
            </button>
        </div>
        
        
    </form>

    
    
    <div class="main" id="joinOrg">
        <!-- <h1>Join an Organization</h1> -->
        <form action="/join-org" method=POST class="form1">
            <input type="text" name="orgName" align="center" placeholder="Organization Name">
            <button type="submit" class="submit" align="center">Join Org</button>
        </form>
    </div>

    
    <div class="main" id="createOrg">
        <!-- <h1>Create an Organization</h1> -->
        <form action="/create-org" method=POST class="form1">
            <input type="text" name="orgName" align="center" placeholder="Organization Name">
            <button type="submit" class="submit" align="center">Create Org</button>
        </form>
    </div>
    <h1 id="header">
        <%= selectedOrg %> <br>
            <%= userAccount.first %>'s Relationships
    </h1>
    <!-- lets you select an org, you can then see your relationships and create them if you're the admin -->
    

    <form action="/display-goals" method="POST" id="displayGoals">
        <select name="relId" id="relId">
            <% userAccount.relationshipList.forEach(rel=> { %>
                <% if (rel.orgID==orgId) { %>
                    <% if (rel.relationshipID==relationshipID) { %>
                        <option value="<%= rel.relationshipID %>" selected>
                            Mentor: <%= rel.mentor %> | Mentee: <%= rel.mentee %>
                        </option>
                        <% } else { %>
                            <option value="<%= rel.relationshipID %>">
                                Mentor: <%= rel.mentor %> | Mentee: <%= rel.mentee %>
                            </option>
                            <% } %>

                                <% } %>
                                    <% }); %>
        </select>
        <button type="submit">Select Relationship</button>
        <br>

    </form>

    <% if (userAccount.username==adminUsername) { %>
            <form action="/expand-create-relationship" method="POST">
                <button type="submit">Create a New Relationship</button>
            </form>
            <% } else { %>
                <span>Contact your organization admin to create a new relationship.</span>
                <% } %>

    <ul>
        <% userAccount.relationshipList.forEach(rel=> { %>
            <% if (rel.relationshipID==relationshipID) { %>
                <% if (rel.mentor==userAccount.username) { %>
                    <h3>
                        <%= rel.mentee %>'s Goals with you
                    </h3>
                    <% } else if (rel.mentee==userAccount.username) { %>
                        <h3>
                            Your Goals with <%= rel.mentor %>
                        </h3>
                        <% } %>
                            <div id="pie"></div>
                            <div>
                                <% rel.goalList.forEach(goal=> { %>

                                    <% if(goal.expanded==1){ %>
                                        <div class="expandedGoal">
                                            <ul>
                                                <% goal.stepList.forEach(step=> { %>
                                                    <p>Step: <%= step.stepText %> | <%= step.completedText %>
                                                    </p>
                                                    <form action="/mark-step-complete" method="POST">
                                                        <input type="hidden" name="tempStepID"
                                                            value="<%= step.stepID %>">
                                                        <input type="hidden" name="completedValue"
                                                            value="<%= step.completed %>">
                                                        <input type="hidden" name="goalID" value="<%= goal.goalID %>">
                                                        <% if (step.completed==0) { %>
                                                            <button type="submit" onclick="test()">Complete
                                                                Step</button>
                                                            <% } else { %>
                                                                <button type="submit">Mark as Incomplete</button>
                                                                <% } %>
                                                    </form>
                                                    <% }) %>
                                                        <% if (goal.completed==0) { %>
                                                            <form action="/create-step" method="POST">
                                                                <br>
                                                                <li>
                                                                    <input type="text" id="newStepId" name="newStep">
                                                                </li>
                                                                <input type="hidden" name="goalID"
                                                                    value="<%= goal.goalID %>">

                                                                <button type="submit">Add Goal Step</button>
                                                            </form>
                                                            <% } %>

                                            </ul>
                                            <ul>
                                                <% goal.commentList.forEach(comment=> { %>
                                                    <p>
                                                        <%= comment.author %> - <%= comment.commentText %> (<%=
                                                                    comment.commentDateString %>)
                                                    </p>
                                                    <% }) %>
                                                        <form action="/create-comment" method="POST">
                                                            <li><input type="text" id="newCommentId" name="newComment">
                                                            </li>
                                                            <input type="hidden" name="goalID"
                                                                value="<%= goal.goalID %>">

                                                            <button type="submit">Add Comment</button>
                                                        </form>
                                            </ul>
                                            <% if (goal.stepsComplete==1) { %>

                                                <form action="/mark-goal-complete" method="POST">
                                                    <input type="hidden" name="goalID" value="<%= goal.goalID %>">
                                                    <input type="hidden" name="completedValue"
                                                        value="<%= goal.completed %>">
                                                    <% if (goal.completed==0) { %>
                                                        <button type="submit">Mark Goal Complete</button>
                                                        <% } else { %>
                                                            <button type="submit">Mark Goal Incomplete</button>
                                                            <% } %>
                                                </form>

                                                <% } %>
                                        </div>

                                        <% } %>





                                            <% }) %>

                                                <% if (relationshipID !=undefined && rel.addGoalStatus==1) { %>
                                                    <form action="/create-goal" method="POST" id="createGoal"
                                                        class="expandedGoal">
                                                        <label for="goalInfo">Goal Description: </label>
                                                        <input type="text" name="goalInfo" id="goalInfo" required>
                                                        <br>

                                                        <label for="dueDate">Due Date: </label>
                                                        <input type="date" name="dueDate" id="dueDate" required>
                                                        <br>

                                                        <label for="step1">Step 1: </label>
                                                        <input type="text" name="step1" id="step1" required>
                                                        <br>

                                                        <button type="submit">Create Goal</button>
                                                    </form>
                                                    <% } %>
                                                                                <% } %>
                                                                                    <% }); %>
                            </div>

    </ul>

    <% userAccount.relationshipList.forEach(rel=> { %>
        <% if (rel.relationshipID==relationshipID) { %>
            <div id="pieFix">
                <input type="hidden" id="percent" value=<%=rel.getPercentageComplete() %> >
                <% rel.goalList.forEach(goal=> { %>
                    <form action="/expand-goal" method="POST">


                        <button type="submit" class="expand">
                            <%= goal.goalInfo %>
                        </button>
                        <% if (goal.completed==1) { %>
                            <span class="completedWrapper">
                                <span class="completedIcon">Completed</span>
                            </span>

                            <% } else { %>
                                <span class="incompleteWrapper">
                                    <span class="incompleteIcon">Incomplete</span>
                                </span>

                                <% } %>

                                    <input type="hidden" name="goalID" value="<%= goal.goalID %>">
                    </form>
                    <% }) %>
                        <br>
                        <form action="/display-goal-creation" method="POST">
                            <button type="submit" class="expand">Add New Goal</button>
                        </form>
                        <% } %>
                            <% }) %>

                            <% userAccount.orgList.forEach(org => { %>
                                <% if (org.orgID == orgId) { %>
                                    <% if (userAccount.username==adminUsername && org.createRelationshipMenu == 1) { %>
                                    <form action="/create-relationship" method="POST" id="createRelationship">
                                        <label for="mentor">Mentor: </label>
                                        <select name="mentor" id="mentor">
                                            <% userAccount.orgList.forEach(org=> { %>
                                                <% if (org.orgID==orgId) { %>
                                                    <% org.userList.forEach(user=> { %>
                                                        <option value="<%= user %>">
                                                            <%= user %>
                                                        </option>
                                                        <% }) %>

                                                            <% } %>
                                                                <% }) %>
                                        </select>

                                        <label for="mentee">Mentee: </label>
                                        <select name="mentee" id="mentee">
                                            <% userAccount.orgList.forEach(org=> { %>
                                                <% if (org.orgID==orgId) { %>
                                                    <% var count=0; %>
                                                        <% org.userList.forEach(user=> { %>
                                                            <% if (count==1) { %>
                                                                <option value="<%= user %>" selected>
                                                                    <%= user %>
                                                                </option>
                                                                <% } else { %>
                                                                    <option value="<%= user %>">
                                                                        <%= user %>
                                                                    </option>
                                                                    <% } %>

                                                                        <% count++ %>
                                                                            <% }) %>

                                                                                <% } %>
                                                                                    <% }) %>
                                        </select>

                                        <button type="submit">Create Relationship</button>
                                    </form>
                                    <% } %>
                                <% } %>
                            <% }) %>
                                


                                        <script>
                                            function expandSection(goalID) {
                                                console.log("test", goalID)
                                            }

                                            console.log(document.getElementById("percent").innerHTML)
                                            anychart.onDocumentReady(function () {


                                                // set the data
                                                var completedPercent = Number(document.getElementById("percent").value)
                                                var incompletedPercent = 1 - completedPercent

                                                var data = [
                                                    { x: "Completed", value: completedPercent, normal: { fill: "#339933" } },
                                                    { x: "Not Complete", value: incompletedPercent, normal: { fill: "#851212" } },

                                                ];

                                                // create the chart
                                                var chart = anychart.pie();

                                                // set the chart title
                                                chart.title("Percentage of Goals Completed");

                                                // add the data
                                                chart.data(data);

                                                // set legend position
                                                //chart.legend().position("right");
                                                // set items layout
                                                chart.legend().itemsLayout("vertical");

                                                // makes the hovered section get bigger (doesnt work, idk why)
                                                // chart.selected().explode("5%");

                                                // display the chart in the container
                                                chart.container('pie');
                                                chart.draw();

                                            });
                                        </script>

</body>



</html>