<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../createaccount.css">
    <script src="../main.js"></script>
    <title>Create an Organization</title>
</head>

<body>
    <h1>
        <%= selectedOrg %> <br>
            <%= userAccount.first %>'s Relationships
    </h1>
    <ul>
        <% userAccount.relationshipList.forEach(rel=> { %>
            <% if (rel.orgID==orgId) { %>
                <li>
                    Mentor: <%= rel.mentor %> | Mentee: <%= rel.mentee %>
                </li>
                <% } %>
                    <% }); %>
    </ul>

    <form action="/display-goals" method="POST" id="displayGoals">
        <% userAccount.relationshipList.forEach(rel=> { %>
            <% if (rel.orgID==orgId) { %>
                <label for="<%= rel.relationshipID %>">
                    Mentor: <%= rel.mentor %> | Mentee: <%= rel.mentee %>
                </label>
                <input type="radio" name="relId" id="<%= rel.relationshipID %>" value="<%= rel.relationshipID %>">
                <br> 
                <% } %>
                    <% }); %>

        <button type="submit">Select Relationship</button>
        
    </form>

    <% userAccount.relationshipList.forEach(rel=> { %>
        <% if (rel.relationshipID==relationshipID) { %>
            <div>
                <% rel.goalList.forEach(goal => { %>
                <p>Test<%= goal.goalInfo %></p>
                
            <% }) %>
                <% } %>
                    <% }); %>
            </div>
            

    <% if (userAccount.username==adminUsername) { %>
        <form action="/create-relationship" method="POST" id="createRelationship">
            <select name="mentor" id="mentor">
                <% userAccount.orgList.forEach(org=> { %>
                    <% if (org.orgID==orgId) { %>
                        <% org.userList.forEach(user=> { %>
                            <option value="<%= user %>">
                                <%= user %>
                            </option>
                            <% }) %>

                                <% } %>
                                    <% }) %>
            </select>

            <select name="mentee" id="mentee">
                <% userAccount.orgList.forEach(org=> { %>
                    <% if (org.orgID==orgId) { %>
                        <% org.userList.forEach(user=> { %>
                            <option value="<%= user %>">
                                <%= user %>
                            </option>
                            <% }) %>

                                <% } %>
                                    <% }) %>
            </select>

            <button type="submit">Create Relationship</button>
        </form>
        <% } %>

            <!-- lets you select an org, you can then see your relationships and create them if you're the admin -->
            <form action="/org-page" method="POST" id="orgChoice">
                <select name="orgChoice" id="orgChoice">
                    <% userAccount.orgList.forEach(org=> { %>
                        <option value="<%= org.name %>">
                            <%= org.name %>
                        </option>
                        <% }); %>
                </select>
                <button type="submit">
                    Select Org
                </button>
            </form>

</body>

</html>