<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weclome</title>
    <link rel="stylesheet" href="/home.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>Welcome user</h1>
    <p id="accountInfoTest">Accout Info</p>
    <p><%= userAccount.first %> <%= userAccount.last %></p>
    <p><%= userAccount.username %></p>
    <p><%= userAccount.birthdayString %></p>
    <p><%= userAccount.email %></p>
    
</body>
</html>